#                                   INPUT

In [163]:
import numpy as np
import pandas as pd

In [164]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [165]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [166]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [167]:
movies=movies.merge(credits,on='title')

In [168]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# DATA PREPROCESSING

In [169]:
movies=movies[['id','original_title','overview','genres','keywords','cast','crew']]

In [170]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4809 non-null   int64
 1   original_title  4809 non-null   object
 2   overview        4806 non-null   object
 3   genres          4809 non-null   object
 4   keywords        4809 non-null   object
 5   cast            4809 non-null   object
 6   crew            4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [171]:
movies.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [172]:
movies.isnull().sum()

id                0
original_title    0
overview          3
genres            0
keywords          0
cast              0
crew              0
dtype: int64

In [173]:
movies.dropna(inplace=True)

In [174]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [175]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#['Action','Adventure','Fantasy','science fiction']

In [176]:
import ast

In [177]:
def convert(text):
    l=[]
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

In [178]:
movies.dropna(inplace=True)

In [179]:
def convert(genre_list):
    # Example: Joining the list of genres into a comma-separated string
    return ', '.join(genre_list)

# Apply the convert function to the 'genres' column
movies['genres'] = movies['genres'].apply(convert)

# Display the first few rows of the DataFrame
movies.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [180]:
def convert(keywords):
    # Example: Joining the list of keyword into a comma-separated string
    return ', '.join(keywords)

# Apply the convert function to the 'keywords' column
movies['keywords'] = movies['keywords'].apply(convert)

# Display the first few rows of the DataFrame
movies.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [181]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [182]:
import ast

def convert3(cast):
    L = []
    counter = 0
    for i in ast.literal_eval(cast):
        if counter < 3:
            L.append(i['name'])
            counter += 1
    return L

# Example usage:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [183]:
import ast

def fetch_director(crew):
    try:
        director_names = []
        for i in ast.literal_eval(crew):
            if i['job'] == 'Director':
                director_names.append(i['name'])
        return director_names
    except (ValueError, SyntaxError) as e:
        # Handle the exception (e.g., print an error message)
        print(f"Error processing crew data: {e}")
        return []

# Applying the function to the DataFrame
movies['directors'] = movies['crew'].apply(fetch_director)

# Displaying the DataFrame
print(movies)

          id                            original_title  \
0      19995                                    Avatar
1        285  Pirates of the Caribbean: At World's End
2     206647                                   Spectre
3      49026                     The Dark Knight Rises
4      49529                               John Carter
...      ...                                       ...
4804    9367                               El Mariachi
4805   72766                                 Newlyweds
4806  231617                 Signed, Sealed, Delivered
4807  126186                          Shanghai Calling
4808   25975                         My Date with Drew

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4804  El Mariachi just wants to play his guitar and ...
4805  A newlywed couple's honeymoon is upended by th...
4806  "Signed, Sealed, Delivered" introduces a dedic...
4807  When ambitious New York attorney Sam is sent t...
4808  Ever since the second grade when he first saw ...

                                                 genres  \
0     [, {, ", i, d, ", :,  , 2, 8, ,,  , ", n, a, m...
1     [, {, ", i, d, ", :,  , 1, 2, ,,  , ", n, a, m...
2     [, {, ", i, d, ", :,  , 2, 8, ,,  , ", n, a, m...
3     [, {, ", i, d, ", :,  , 2, 8, ,,  , ", n, a, m...
4     [, {, ", i, d, ", :,  , 2, 8, ,,  , ", n, a, m...
...                                                 ...
4804  [, {, ", i, d, ", :,  , 2, 8, ,,  , ", n, a, m...
4805  [, {, ", i, d, ", :,  , 3, 5, ,,  , ", n, a, m...
4806  [, {, ", i, d, ", :,  , 3, 5, ,,  , ", n, a, m...
4807                                               [, ]
4808  [, {, ", i, d, ", :,  , 9, 9, ,,  , ", n, a, m...

                                               keywords  \
0     [, {, ", i, d, ", :,  , 1, 4, 6, 3, ,,  , ", n...
1     [, {, ", i, d, ", :,  , 2, 7, 0, ,,  , ", n, a...
2     [, {, ", i, d, ", :,  , 4, 7, 0, ,,  , ", n, a...
3     [, {, ", i, d, ", :,  , 8, 4, 9, ,,  , ", n, a...
4     [, {, ", i, d, ", :,  , 8, 1, 8, ,,  , ", n, a...
...                                                 ...
4804  [, {, ", i, d, ", :,  , 5, 6, 1, 6, ,,  , ", n...
4805                                               [, ]
4806  [, {, ", i, d, ", :,  , 2, 4, 8, ,,  , ", n, a...
4807                                               [, ]
4808  [, {, ", i, d, ", :,  , 1, 5, 2, 3, ,,  , ", n...

                                                   cast  \
0      [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1         [Johnny Depp, Orlando Bloom, Keira Knightley]
2          [Daniel Craig, Christoph Waltz, Léa Seydoux]
3          [Christian Bale, Michael Caine, Gary Oldman]
4        [Taylor Kitsch, Lynn Collins, Samantha Morton]
...                                                 ...
4804  [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805       [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806         [Eric Mabius, Kristin Booth, Crystal Lowe]
4807          [Daniel Henney, Eliza Coupe, Bill Paxton]
4808  [Drew Barrymore, Brian Herzlinger, Corey Feldman]

                                                   crew  \
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4804  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808  [{"credit_id": "58ce021b9251415a390165d9", "de...

                                     directors
0                              [James Cameron]
1                             [Gore Verbinski]
2                                 [Sam Mendes]
3                          [Christopher Nolan]
4                             [Andrew Stanton]
...                                        ...
4804                        [Robert Rodriguez]
4805                            [Edward Burns]
4806                             [Scott Smith]
4807                             [Daniel Hsia]
4808  [Brian Herzlinger, Jon Gunn, Brett Winn]

[4806 rows x 8 columns]

In [184]:
#movies['overview']=movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,id,original_title,overview,genres,keywords,cast,crew,directors
718,8914,Deep Blue Sea,On a remote former submarine refueling facilit...,"[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 2, 9, 8, 8, ,, , "", n...","[Thomas Jane, Saffron Burrows, LL Cool J]","[{""credit_id"": ""52fe44c7c3a36847f80a9971"", ""de...",[Renny Harlin]
3852,46146,Trolljegeren,A group of students investigates a series of m...,"[, {, "", i, d, "", :, , 1, 4, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 4, 1, 4, ,, , "", n, a...","[Otto Jespersen, Hans Morten Hansen, Tomas Alf...","[{""credit_id"": ""58566e09c3a3682f5804a0b0"", ""de...",[André Øvredal]
1481,77875,Playing for Keeps,A former sports star who's fallen on hard time...,"[, {, "", i, d, "", :, , 3, 5, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 4, 5, 6, ,, , "", n, a...","[Gerard Butler, Jessica Biel, Uma Thurman]","[{""credit_id"": ""558c14569251410f8f000b60"", ""de...",[Gabriele Muccino]
4559,380097,America Is Still the Place,1971 post civil rights San Francisco seemed li...,"[, ]","[, ]",[],[],[]
3334,45650,The Hole,"After moving into a new neighbourhood, brother...","[, {, "", i, d, "", :, , 5, 3, ,, , "", n, a, m...","[, {, "", i, d, "", :, , 9, 8, 6, 6, ,, , "", n...","[Chris Massoglia, Haley Bennett, Nathan Gamble]","[{""credit_id"": ""52fe46cdc3a36847f8112ec1"", ""de...",[Joe Dante]

In [185]:
def collapse(L):
    L1=[]
    for i in L:
        L1.append(i.replace(" ",""))
        return L1

In [186]:
movies['cast']=movies['cast'].apply(collapse)
movies['crew']=movies['crew'].apply(collapse)
movies['genres']=movies['genres'].apply(collapse)
movies['keywords']=movies['keywords'].apply(collapse)

In [244]:
movies.head()

,id,original_title,overview,genres,keywords,cast,crew,directors,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[[],[[],[SamWorthington],[[],[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[[],[[],[JohnnyDepp],[[],[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[[],[[],[DanielCraig],[[],[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[[],[[],[ChristianBale],[[],[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[[],[[],[TaylorKitsch],[[],[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [188]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [190]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [292]:
new_df = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])
new_df.head()

,id,original_title,directors,tags
0,19995,Avatar,[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [297]:
new_df['tags'] = new['tags'].apply(lambda x: x.split() if isinstance(x, str) else x)

In [298]:
new_df.head()

,id,original_title,directors,tags
0,19995,Avatar,[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [302]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else str(x))
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

#    Vectorization

In [303]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [304]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [305]:
vector.shape

(4806, 5000)

In [306]:
from sklearn.metrics.pairwise import cosine_similarity

In [307]:
similarity=cosine_similarity(vector)

In [308]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.04688072, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.0360375 , 0.        ,
        0.        ],
       ...,
       [0.        , 0.04688072, 0.0360375 , ..., 1.        , 0.05634362,
        0.02942449],
       [0.        , 0.        , 0.        , ..., 0.05634362, 1.        ,
        0.05802589],
       [0.        , 0.        , 0.        , ..., 0.02942449, 0.05802589,
        1.        ]])

In [309]:
new[new['original_title'] == 'The Lego Movie'].index[0]

744

In [310]:
def recommend(movie):
    index = new[new['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].original_title)

In [311]:
recommend('Gandhi')

Gandhi, My Father
A Passage to India
Guiana 1838
ராமானுஜன்
Barry Lyndon

In [312]:
new_df.iloc[1216].original_title

'Aliens vs Predator: Requiem'

In [313]:
import pickle

In [314]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [316]:
new_df['original_title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [320]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [321]:
pickle.dump(similarity,open('similarity.pkl','wb'))